{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
        
            <div class="col-md-6 col-lg-4 col-xl-2">
                <h4 class="text-center post-header"><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
                <div class="text-center">
                    <a class="story-img" href="{% url 'post_detail' post.id %}">
                    {% if post.image %}
                        <img class="img-post" src="/media/{{ post.image }}">
                     {% else %}
                        <img src="/media/img/boek4.jpg">
                     {% endif %}
                    </a> 
                </div>
                <div class="row">
                    <div class="col-12">
                        <p><span class="boldtext">By:</span> {{post.author}}</p>
                        <p><span class="boldtext">Condition:</span> {{post.condition_of_book}}</p>
                        <p><span class="boldtext">Provider:</span> {{post.provider}}</p>
                        <p><span class="boldtext">Location:</span> {{post.location}}</p>
                        <p><span class="boldtext">€</span> {{post.price}}</p>
                        <p><span class="boldtext">Summary: </span>{{post.summary|truncatewords:10}}</p>
                        <!--<p><span class="boldtext">Views:</span> {{post.views}}</p>-->
                        <p class= "text-center"><a href="{% url 'post_detail' post.id %}" class="btn btn-info" role="button">Read more</a></p> <!--wordt ADD TO BASKET-->
                    </div>
                </div>
            </div>
        
    {% endfor %}
{% endblock %}