{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="rent-details-wrapper col-md-6 col-lg-3 col-xl-3">
    <div>
        {% if user.uprofile.have_paid == False %}
        <div class="make-deposit-wrapper">
            <p>To be able to rent books a deposit of 30 euro's is required.<br> 
            The deposite is used to pay the owner of the books you are renting.<br>
            Read more about the terms and conditions on our <a href="{% url 'about' %}" id="link-deposit-wrapper">About-page</a>.
            </p>
            <div class="text-center">
                <a href="{% url 'checkout' %}" class="btn btn-info deposit-button">Make your deposit</a>
            </div>
        </div>
        {% else %}
        {% endif %}
        <h3 class="text-center">Details</h3>
        <p class="rent-details"><span class="boldtext">Username:</span> {{ request.user }}</p>
        <p class="rent-details"><span class="boldtext">Email:</span> {{ user.email }}</p>
        <p class="rent-details"><span class="boldtext">Number of books:</span> {{ total }}</p>
        <p class="rent-details"><span class="boldtext">Total per week:</span> <span class="glyphicon glyphicon-euro" aria-hidden="true"></span> €{{ total_prices }}</p>
    </div>
    <div>
        <form id="rentform" class="col-12" method="POST">
        <div class="hidden">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        </div>
        {% if user.uprofile.have_paid == True %}
        <div class="text-center">
            <button class="btn btn-info" type="submit">Send</button>
        </div>
        </form>
        {% else %}
        {% endif %}
    </div>
</div>

    {% for item in cart_items %}
    <div id="rent-cart-product-wrapper" class="col-md-6 col-lg-3 col-xl-3 product-wrapper">        
        <h3 class="text-center product-header"><a href="{% url 'product_detail' item.product.id %}">{{ item.product.title }}</a></h3>
        <div class="text-center wrapper-product-img">
            <a class="product-link" href="{% url 'product_detail' item.product.id %}">
                <img class="product-img" src="/media/{{ item.product.image }}">
            </a>
        </div>
        <div id="cart-info-wrapper" class="row product-info-wrapper">
            <div class="col-12 no-padding">
                <p><span class="boldtext">By:</span> {{item.product.author}}</p>
                <p><span class="boldtext">Condition:</span> {{item.product.condition_of_book}}</p>
                <p><span class="boldtext">Provider:</span> <a href="{% url 'provider_profile' item.product.provider.id %}">{{item.product.provider}}</a></p>
                <p><span class="boldtext">Location:</span> {{item.product.location}}</p>
                <p><b>Price per week:</b> €{{ item.product.rentprice_per_week }}</p>
            </div>
        </div>   
    </div>
    {% endfor %}

{% endblock %}