{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

    {% for item in cart_items %}
    <div id="cart-product-wrapper" class="col-md-6 col-lg-3 col-xl-3 product-wrapper">        
        <h3 class="text-center product-header"><a href="{% url 'product_detail' item.product.id %}">{{ item.product.title }}</a></h3>
        <div class="text-center wrapper-product-img">
            <a class="product-link" href="{% url 'product_detail' item.product.id %}">
                <img class="product-img" src="/media/{{ item.product.image }}">
            </a>
        </div>
        <div id="cart-info-wrapper" class="row product-info-wrapper">
            <div class="col-12">
                <p><span class="boldtext">By:</span> {{item.product.author}}</p>
                <p><span class="boldtext">Condition:</span> {{item.product.condition_of_book}}</p>
                <p><span class="boldtext">Provider:</span> <a href="{% url 'provider_profile' item.product.provider.id %}">{{item.product.provider}}</a></p>
                <p><span class="boldtext">Location:</span> {{item.product.location}}</p>
                <p><b>Price per week:</b> €{{ item.product.rentprice_per_week }}</p>
            </div>
        </div>   
    </div>
    {% endfor %}


<form role="form" method="post" id="rent_request_form" action="{% url 'checkout' %}">
    <legend class="text-center">My Details</legend>
    <p>Number of books:<span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{ total }}</p>
    <p>Username: {{ request.user }}</p>
    <p>Name: {{ order.full_name }}</p>
    <p>Adress: {{ order.street_address }}</p>
    <p>Town or city: {{ order.town_or_city }}</p>
    <input class="hidden" id="username" type="text" name="your_name" value="{{ request.user }}">
    <input class="hidden" id="full_name" type="text" name="your_name" value="{{ order.full_name }}">
    <input class="hidden" id="street_address" type="text" name="your_name" value="{{ order.street_address }}">
    <input class="hidden" id="username" type="text" name="your_name" value="{{ order.town_or_city }}">
    {% for item in cart_items %}
    <input class="hidden" id="username" type="text" name="your_name" value="ID = {{ item.product.id }}">
    {% endfor %}
    {% csrf_token %}
    <div class="form-group col-md-12 text-center">
        <input class=" btn btn-info" id="rent_request_btn" name="commit" type="submit" value="Send in rent-request">
    </div>
</form>

{% endblock %}