{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}

    <div class="col-lg-6">
        <h3 class="col-12 text-center">Contact {{ product.provider }}</h3>
        <form class="col-md-12 offset-lg-2 col-lg-8 user-contact-form" method="post">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="form-actions text-center">
            <input type="hidden" id="email_to" name="email_to" value="{{ to_email }}">
            <button class="btn btn-info" type="submit">Send</button>
            </div>
        </form>
    </div>   
    <div class="col-lg-6 product-detail-wrapper">
        <h3 class="text-center">{{ product.title }}</h3>
        {% if product.image %}
        <div class="text-center">
            <img class="product-img" src="/media/{{ product.image }}">
        </div>
        {% endif %}
        <p>{{ product.content }}</p>
        <p><span class="boldtext">Published on:</span> {{ product.published_date }}</p>
        <p><span class="boldtext">Author:</span> {{product.author}}</p>
        <p><span class="boldtext">Edition:</span> {{product.year_of_edition}}</p>
        <p><span class="boldtext">Condition:</span> {{product.condition_of_book}}</p>
        <p><span class="boldtext">Publisher:</span> {{product.publisher}}</p>
        <p><span class="boldtext">Provider:</span> <a href="{% url 'provider_profile' product.provider.id %}">{{product.provider}}</a></p>
        <p><span class="boldtext">Pages:</span> {{product.number_of_pages}}</p>
        <p><span class="boldtext">Location:</span> {{product.location}}</p>
    </div> 

{% endblock %}