html {
    position: relative;
    min-height: 100%;
}

.hidden {
  display: none;
}

p {
  font-size: 2rem;  
}

.remove-button {
  padding-left: 0;
}

.edit-button {
  padding-left: 0;
}

/*Sets the backgroundcolor of the for_rent and for_sale part in productlist*/
.rent-sale-background {
 background-color: #DFDFDF;
 margin-bottom: 2px;   
}

.rent-sale-box {
  padding-right: 1px;
  padding-left: 0;
}

.rent-sale-button {
  padding-left: 1px; 
  padding-right: 0; 
}

.btn-info {
  box-shadow: 2px 3px#606060;  
}

/*To get dropdownmenu on same hight as other list items in navbar*/
#dropdownMenuButton {
  padding: 8px;  
}

/* Showes the welcoming message in the navbar a bold */
#hello_user {
  font-weight: bold;
}

h3 {
  font-size: 2.75rem;  
}

.margin-bottom {
  margin-bottom: 4px;  
}

/* Sets the padding of the two rows in the fixed-header */
.no-padding {
  padding-right: 0;
  padding-left: 0;  

}
.navbar-color {
  background-color: #E1CC97;
  color: #663300;
}

.nav-link {
  color: #663300;
}

.navbar-toggler {
  background-color: #663300;
  border: #E1CC97;  
}

/* Sets the color of the toggler-icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 204, 151, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#header-wrap {
  padding-right: 0;
  padding-left: 0;  
}

.header-text-wrap {
  padding-left: 0;    
}

.header-text {
  font-size: 1.7rem;  
  margin-bottom: 2px;  
}

.header-logo-wrap {
  padding-right: 0;
  padding-left: 0
}

.header-logo {
  width: 100%;
}

.show>.btn-secondary.dropdown-toggle {
  background-color: #663300 !important;
  border-color: #663300;
  color: #E1CC97;  
}

.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(102,51,0,.5);  
}

.show>.btn-secondary.dropdown-toggle:active {
  background-color: #663300 !important;
  border-color: #663300;
  color: #E1CC97;  
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #663300 !important;
  border-color: #663300;
  color: #E1CC97;  
}

#dropdownMenuBottom:active {
  background-color: #663300;
  color: #E1CC97;
}

.dropdown button:hover {
  background-color: #663300;
  color: #E1CC97;
}

.dropdown button:active {
  background-color: #663300;
  color: #E1CC97;
}

.dropdown-menu a {
  background-color: #E1CC97;  
}

.dropdown .dropdown-menu {
  background-color: #E1CC97;  
}

/* Search Bar */

#search-form {
  width: 450px;  
}

#search-input {
  width: 80%!important;  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E1CC97;
  font-style: italic;
  opacity: 1; /* Firefox */
}

.second-header {
  background-color: #663300;
  color: #E1CC97;     
}

.btn-secondary {
  background-color: #E1CC97;
  color: #663300;
  border: 0;
}

.product-wrapper {
  height: 830px;
}

/*smaller margin-bottom on products.html and productdetail.hmtl and profile.html*/

.product-info-wrapper .col-12 p {
  margin-bottom: 3px;    
}

.product-detail-wrapper p {
  margin-bottom: 3px;  
}

.product-wrapper p {
  margin-bottom: 3px;  
}

.product-info-wrapper {
  height: 290px;
}

.profile-wrapper p {
  margin-bottom: 3px; 
}

/*Textcolor button to delete book by user of superuser*/
.delete-book {
  color:red;
}
.wrapper-product-img {
  height: 205px;
}

.product-img {
  width: 125px; 
}

.product-header {
 min-height: 56px
 }

/*Link to read more sends user from frontpage to productpage*/
#summary-more {
  color:#17a2b8;
  font-weight: bold;
  font-style: italic; 
}

body {
  padding-top: 180px;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
}

.row {
  margin-left: 0;
  margin-right: 0;    
}

footer {
  background-color: #E1CC97;
  color: #663300;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

a {
  color: #212529;
}

.boldtext {
  font-weight: bold;  
}

#productform {
  padding-bottom: 15px;
}

/*Profile Page*/
#profile-products {
  height: 460px;  
}

@media (min-width: 1200px){
body {
  padding-top: 150px;
  }
h3 {
  font-size: 1.75rem;  
}  
p {
  font-size: 1.2rem;   
}
.header-logo {
  width: 68%;
  }
.product-wrapper {
  height: 715px;
}
}

@media (min-width: 1500px){
.header-logo {
  width: 50%;
  }
}