/*To make footer stick to bottom*/
html {
    position: relative;
    min-height: 100%;
}

/*Padding and margin to make room for fixed-top-navbar and footer*/
body {
  padding-top: 280px;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 80px;
}

.container-fluid {
  padding: 0;
}

a {
  color: #212529;
}

.boldtext {
  font-weight: bold;  
}

/*Makes background of content stick out compared to body-background (#F2F2F2)*/
.background-content {
  background-color: #fff;
}

.row {
  margin-left: 0;
  margin-right: 0;    
}

/*rent.html*/
#rent_request_form {
  padding-left: 15px; 
  padding-right: 15px; 
  padding-top: 10px;
  background-color: #fff;
}

.form-control {
  font-size: 1.8rem;  
  line-height: 1.2;
}

.rent-details-wrapper {
  margin-top: 5px; 
}

#rent-cart-product-wrapper {
  height: 725px;
  }

/*cart.html*/
#cart-product-wrapper {
  height: 1050px;  
}

#cart-info-wrapper {
  height: 500px;  
}

/*Sets color to cart in rent-button*/
#add-to-cart-cart {
  color: #17a2b8;  
}

/*Sets color to cart in remove-book-button*/
#remove-from-cart-cart {
  color: #FF2828;
}

/*Sets style to remove-book-button*/
#remove-from-cart-button {
  background-color: #F2F2F2;
  color: black;
  padding: 0;
  font-size: 2rem;
}

/*Sets color to remove-button on cart.html*/
#remove-from-cart {
  background-color:#FF2828;
  border-color: #FF2828;  
}

/*Sets color to envelope in buy-button*/
.fa-envelope-square {
  color: #17a2b8;
}

/*Sets color to cart in navbar*/
.fa-shopping-cart {
  color: #17a2b8;  
}

.fa-shopping-cart:hover {
  color: #138496;  
}

/*Sets color to buy-button*/
#contact-user-button {
  color: black;
  background-color: #F2F2F2;
  padding: 0px;
  text-align: left;   
  font-size: 2rem;
}

#contact-user-button:hover {
  background-color: #138496;
  border-color: #117a8b   
}

/*usercontactpage.html*/
.user-contact-form {
  padding-bottom: 15px; 
  font-size: 2rem; 
}

/*checkout.html*/
.checkout-explanation {
  background-color: #fff;  
  padding: 10px;
}

/*When user has no books of his own (profile.html)*/
.no-books {
  font-size: 2rem;
  font-weight: bold; 
}

.no-books-wrapper {
  padding-top: 10px;  
}

.no-books-link {
   color: #17a2b8;
   font-style: italic;
}

/*Message user gets through Django-views*/
.message {
  padding-top: 10px;
  font-weight: bold;    
  background-color: #17a2b8;
  padding-bottom: 10px;
  font-size: xx-large;
  font-style: italic;
  margin-top: 5px;
}

/*To make things not vissible*/
.hidden {
  display: none;
}

/*Navigation Bar*/
/*To increase readability on mobile-devices the fontsize is doubled for the list*/
li {
  font-size: 2rem;  
}

.navbar-toggler {
  font-size: 3rem;
  background-color: #17a2b8;
  border: #17a2b8;
}

.navbar {
  font-weight: bold;  
}

.dropdown {
  font-weight: bold;  
}

.dropdown-toggle {
  font-size: 2rem;   
}

/*Enlarge fontsize on mobile for readability */
p {
  font-size: 2rem;  
}

/*Products.html -> settings for each product*/
.product-wrapper {
  background-color: #fff;  
  border: 2px #F2F2F2 solid;
  height: 950px;
}

/*Products.html -> to make both buttons line out better*/

.remove-button {
  padding-right: 15px;
}

.edit-button {
  padding-left: 15px;
}

/*Sets the backgroundcolor of the for_rent and for_sale part in productlist*/
.rent-sale-background {
 background-color: #F2F2F2;
 margin-bottom: 2px; 
 padding: 0px;
 text-align: left;  
} 

/*Sets the padding of the for_rent and for_sale part in productlist*/
.rent-sale-box {
  padding-right: 1px;
  padding-left: 0;
}

#sale-button {
  margin-top: 8px;
  margin-bottom: 8px;  
}

/*Gives the forms some more space*/
.margin-form {
  margin-top: 8px;
  margin-bottom: 8px;   
}

/*Sets the padding of the buttons in the for_rent and for_sale part in productlist*/
.rent-sale-button {
  padding-left: 1px; 
  padding-right: 0; 
}

/*Sets style to all bootstrap .btn-info buttons */
.btn-info {
  box-shadow: 2px 3px#606060;  
  font-size: 2.1rem;
  border-color: #f2f2f2;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b
}

/*Sets margin on all buttons on products.html*/
.margin-bottom {
  margin-bottom: 4px;  
}

/*Sets margin on products.html*/
.edit-delete-button {
  margin-bottom: 4px;
  margin-top: 10px;  
}

/* Shows the welcoming message in the navbar bold */
#hello_user {
  font-weight: bold;
  font-size: 2rem;
}

/*To increase readability on mobile-devices*/
h3 {
  font-size: 2.75rem;  
}

/*Navbar*/

/*Sets the padding of the two rows in the fixed-header*/
.no-padding {
  padding-right: 0;
  padding-left: 0;  
}

.navbar-color {
  background-color: #F2F2F2;
  color: #17a2b8;
}

.nav-item {
  color: #17a2b8;
}

.nav-link {
  color: #17a2b8;  
}

.nav-link:hover {
  color: #138496;  
}

/*Sets dropdown-item in the Navbar (books) on mobile-devices*/

.show>.btn-secondary.dropdown-toggle {
  background-color: #F2F2F2 !important;
  border-color: #F2F2F2; 
}

.show>.btn-secondary.dropdown-toggle:active {
  background-color: #F2F2F2;
  border-color: #F2F2F2 !important;  
}

.btn-secondary:not(:disabled):not(.disabled):active {
  border-color: #F2F2F2 !important;  
}

#dropdownMenuButton:active {
  background-color: #F2F2F2;
  color: #138496;
  border-color: #F2F2F2;
}

#dropdownMenuButton:hover {
  background-color: #F2F2F2;
  color: #138496;
  border-color: #F2F2F2;
}

.dropdown button:active {
  background-color: #fff;
  color: #E1CC97;
}

.dropdown-menu a {
  background-color: #fff;  
}

.dropdown .dropdown-menu {
  background-color: #fff;  
}

/*To get dropdownmenu on same hight as other list items in navbar*/
#dropdownMenuButton {
  padding: 1px; 
  font-weight: bold; 
  color: #17a2b8;
  padding-top: 8px;
  }

#dropdown-link {
  font-size: 1.5rem;
}

.btn-secondary:hover {
  background-color: #F2F2F2;
}

.show>.btn-secondary.dropdown-toggle {
  background-color: #F2F2F2;  
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #F2F2F2;    
}

/* Sets the color of the toggler-icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Header*/

#header-wrap {
  padding-right: 0;
  padding-left: 0;  
}

.header-text-wrap {
  padding-left: 0;  
  background-color: #FFF;  
}

.header-text {
  font-size: 3rem;  
  margin-bottom: 2px;  
  color: black;
  font-weight: bold;
  margin-top: 6px;
}

a:hover { 
  color: black; 
}

#header-logo-wrap {
  padding-right: 0;
  padding-left: 5px;
  background-color: #FFF;
  display: flex;
}

.header-logo {
  width: 100%;
}

/*Search Bar*/

#search-form {
  width: 55%;  
}

#search-input {
  width: 100%!important; 
  font-size: 2rem; 
}

.search-button {
  background-color: #17a2b8;
  border: 0;   
  font-size: 2rem;
  font-weight: bold;
  width: 99%;   
  box-shadow: 2px 3px #2b1d0e;  
}

.search-button:hover {
  color: #fff;  
  background-color: #138496;
  border-color: #117a8b;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E1CC97;
  font-style: italic;
  opacity: 1; /* Firefox */
}

/*On products.html when no books are found*/
.no-results {
  font-weight: bold;
  padding-top: 10px;
}

/*Makes background stick out compared to body-background (#F2F2F2)*/
.second-header {
  background-color: #FFF;     
}

/*Sets color for books-button*/
.book-button {
  background-color: #F2F2F2;
  border: 0;
}

/*Smaller margin-bottom on products.html, productdetail.html and profile.html*/
.product-info-wrapper .col-12 p {
  margin-bottom: 3px;    
}

.product-detail-wrapper {
  background-color: #FFF;
}

.product-detail-wrapper p {
  margin-bottom: 0;  
}

.product-wrapper p {
  margin-bottom: 3px;  
}

.product-info-wrapper {
  height: 290px;
}

#rent-button {
  color: black;
  font-size: 2rem;
}

/*profile.html*/
.profile-wrapper {
  padding: 0;
}

.profile-wrapper p {
  margin-bottom: 0; 
  background-color: #fff;
}

#profile-products {
  height: 800px;  
}

.profile-books {
  font-size: 3rem;
  background-color: #fff;
  margin-top: 20px;
  padding: 0;
}

.edit-profile-button {
  margin-top: 10px;  
}

#div_id_want_to_rent {
  margin-bottom: 2px;
}

.rent-message {
  font-size: 1rem;
  font-style: italic;  
}

/*Rent.html when user has not made a deposit yet*/
.make-deposit-wrapper {
  background-color: #A9A9A9;
  color: #FFF;  
  border-radius: 25px;
  padding: 10px;
  box-shadow: 4px 5px#606060;
  margin-bottom: 10px;
}

#link-deposit-wrapper {
  color: #FFF;
  font-weight: bold;  
}

.deposit-button {
  margin-bottom: 5px;
}

.password-reset {
  font-size: 2rem;  
}

/*register.html, link to sign in page*/
.sign-in-link-background {
  background-color: #FFF;  
}

/*Link to the about-page*/
#link-about {
  font-weight: bold;  
}

/*Header on the about-page*/
.about-header {
  padding-top: 10px;  
}

.bg-edit-profile-button {
  background-color: #fff;
  padding-bottom: 5px;
}

/*Textcolor button to delete book by user of superuser*/
.delete-book {
  background-color:#FF2828;
  border-color: #F2F2F2;
}

/*Height of the wrapper of the image of the book on the product-page*/
.wrapper-product-img {
  height: 333px;
}

/*Width of the image of the book on the rent-page*/
.product-img {
  width: 200px; 
}

/*Width of the image of the book on the productdetail-page*/
.img-product-detail {
  width: 225px; 
}

/*To make sure products still line out, whether booktitle is long or short*/
.product-header {
 min-height: 114px;
 padding-top: 10px;
 }

/*Link to read more sends user from frontpage to productpage*/
#summary-more {
  color:#17a2b8;
  font-weight: bold;
  font-style: italic; 
}

/*Gives more room to form on productform.html*/
#productform {
  padding-bottom: 15px;
}

/*Footer*/
footer {
  background-color: #FFF;
  color:#17a2b8;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  overflow: hidden;
}

#footer-text p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.padding-fa {
  padding-top: 5px;  
  padding-bottom: 5px;
}

/*Styling the four icons in the footer*/
.sociallinks a {
    color: #17a2b8;
    padding-left: 25px;
    padding-right: 25px;  
}

@media (min-width: 800px){
.btn-info {
  font-size: 1.5rem;
  }
.user-contact-form {
  font-size: 1rem; 
  }
.form-control {
  font-size: 1rem;  
  }
}

@media (min-width: 992px){
#hello_user {
  font-size: 1.4rem;   
  padding-left: 10px;
  } 
#dropdownMenuButton {
  font-size: 1.4rem;    
  margin-left: .5rem; 
  }
.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 1.4rem;  
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  }
.product-wrapper {
  height: 750px;
  }
.product-info-wrapper p {
  font-size: 1.2rem;   
  }
#dropdown-link {
  font-size: 1rem;
  }  
p {
  font-size: 1.2rem;  
  }
.no-books {
  font-size: 1.4rem;
  }
#contact-user-button {
  font-size: 1.2rem;  
}
#remove-from-cart {
  font-size: 1.1rem;  
  }  
#remove-from-cart-button {
  font-size: 1.2rem;
}
#cart-info-wrapper {
  height: 385px;  
  }
#cart-product-wrapper {
  height: 875px;  
  }
.product-header {
 min-height: 76px;
  }
.header-logo {
  width: 90%;
  }
h3 {
  font-size: 1.75rem;  
  } 
#rent-button {
  font-size: 1.2rem;  
  }
.password-reset {
  font-size: 1.5rem;  
  }    
}

@media (min-width: 1100px){
body {
  padding-top: 225px;
  }
.product-wrapper {
  height: 740px;
  }
#cart-info-wrapper {
  height: 375px; 
  }
}

@media (min-width: 1200px){
.header-logo {
  width: 100%;
  }
.message {
  font-size: large;
  }
.product-detail-wrapper {
  padding-left: 100px;
  padding-right: 100px;
  }
.profile-books {
  font-size: 2rem;
  } 
.product-wrapper {
  height: 700px;
  }
.wrapper-product-img {
  height: 205px;
  }
.product-img {
  width: 125px; 
  }
.btn-info {
  font-size: 1.2rem;  
  }
li {
  font-size: 1rem;  
  }
.dropdown-toggle {
  font-size: 1rem;   
  }
.header-text {
  font-size: 1.8rem; 
  }
#search-input {
  font-size: 1.5rem;
  width: 80%!important;
  }
#search-form {
  width: 50%;  
  }
.search-button {
 font-size: 1.5rem;
 width: 17%;
  }
body {
  padding-top: 180px;
  }
#profile-products {
  height: 715px;  
  }
#cart-product-wrapper {
  height: 800px;  
  }
#cart-info-wrapper {
  height: 400px; 
  }
.product-info-wrapper {
  height: 395px;
  }
#rent-cart-product-wrapper {
  height: 475px;
  }
}

@media (min-width: 1350px){
body {
  padding-top: 190px;
  }
.header-text {
  font-size: 2.1rem;
  } 
#cart-product-wrapper {
    height: 750px;  
  }
}

@media (min-width: 1500px){
.header-text {
  font-size: 2.4rem;
  } 
.product-wrapper {
  height: 625px;
  }
body {
  padding-top: 210px;
  }
}

@media (min-width: 1700px){
body {
  padding-top: 215px;
  }
.header-text {
  font-size: 2.6rem;
  } 
}

@media (min-width: 1800px){
body {
  padding-top: 220px;
  }
.header-text {
  font-size: 2.7rem;
  } 
#cart-product-wrapper {
  height: 650px;  
  }
#cart-info-wrapper {
  height: 300px; 
  }
}

@media (min-width: 1900px){
body {
  padding-top: 225px;
  }
.header-text {
  font-size: 2.8rem;
  } 
}

@media (min-width: 2000px){
.header-logo {
  width: 95%;
}
.header-text {
  font-size: 2.85rem;
  } 
body {
  padding-top: 230px;
  }
}

@media (min-width: 2100px){
body {
  padding-top: 235px;
  }
}

@media (min-width: 2200px){
.header-text {
  font-size: 3.3rem;
  } 
body {
  padding-top: 240px;
  }
}

@media (min-width: 2400px){
body {
  padding-top: 340px;
  }
}