/* Sets the padding of the two rows in the fixed-header */
.no-padding {
  padding-right: 0;
  padding-left: 0;  

}
.navbar-color {
  background-color: #E1CC97;
  color: #663300;
}

.nav-link {
  color: #663300;
}

.navbar-toggler {
  background-color: #663300;
  border: #E1CC97;  
}

/* Sets the color of the toggler-icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 204, 151, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#header-wrap {
  padding-right: 0;
  padding-left: 0;  
}

.header-text-wrap {
  padding-left: 0;    
}

.header-text {
  font-size: 1.7rem;  
  margin-bottom: 2px;  
}

.header-logo-wrap {
  padding-right: 0;
  padding-left: 0
}

.header-logo {
  width: 100%;
}

/* Search Bar */

#search-form {
  width: 450px;  
}

#search-input {
  width: 80%!important;  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E1CC97;
  font-style: italic;
  opacity: 1; /* Firefox */
}

.second-header {
  background-color: #663300;
  color: #E1CC97;     
}

.btn-secondary {
  background-color: #E1CC97;
  color: #663300;
  border: 0;
}

body {
  padding-top: 180px;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

.row {
  margin-left: 0;
  margin-right: 0;    
}

footer {
  background-color: #E1CC97;
  color: #663300;
}

a {
  color: #212529;
}

.boldtext {
  font-weight: bold;  
}

#postform {
  padding-bottom: 15px;
}

@media (min-width: 1200px){
body {
  padding-top: 150px;
  }
.header-logo {
  width: 68%;
}
}