{% extends 'base.html' %} 

{% block content %}
<h2 class="col-12 text-center">All about MyBookYourBook</h2>
<div class="col-md-12 offset-lg-2 col-lg-8">
<p>MyBookYourBook.com is thé website for those who love to read! We offer anyone the opportunity to buy and sell books ánd to use our rent-a-book-system. This way more people can enjoy more books.</p>

<h3 class="col-12 text-center">Our Goal</h3>
<p>We want as many people as possible to be able to read as many books as possible. 
When we read, not only are we improving memory and empathy, research has shown that it makes us feel better and more positive too.
Now, why wouldn't we want that for everybody?</p>

<h3 class="col-12 text-center">How do we work?</h3>
<p>Anyone can buy, sell, rent and rent-out books. All you have to do is register. If you want to sell a book, simply log in, fill in the form, and your good to go. 
If you want to buy a book, you can simply browse through all the books on offer, or you can use our searchbar to find the book you're looking for.</p>

<h3 class="col-12 text-center">Rent-a-book</h3>
<p>Renting makes it possible to read a book for a nice price ánd makes it possible for the owner of the book to earn some money without having to sell the book.
How it works?
If you want to be able te rent a book, just check the 'I want to be able to rent books'-checkbox when you register or when you update your profile. 
You will then be asked to make a deposite. This will be used to pay the rent.
Now, when you find the book you want to rent, you add it to your shoppingcart and when you're done, you can let us now by sending us the cart. We'll take care of the rest. 
When you return the book to the owner, simply reply to the message we send you and ask te owner to do the same. We'll take care of the finances and let you know your balance.
</p>

<h3 class="col-12 text-center">Disclaimer</h3>
<p>Lorum Ipsum</p>
</div>

{% endblock %} 

