{% extends 'base.html' %} 

{% block content %}
<h3 class="col-12 text-center">All about MyBookYourBook</h3>
<div class="col-md-12 offset-lg-2 col-lg-8">
<p>MyBookYourBook.com is thé website for those who love to read! We offer anyone the opportunity to buy and sell books ánd to use our rent-a-book-system.</p>

<h3 class="col-12 text-center">Our Goal</h3>
<p>Lorum Ipsum We want as many people as possible to be able to read as many books as possible.</p>

<h3 class="col-12 text-center">How do we work?</h3>
<p>Lorum Ipsum</p>

<h3 class="col-12 text-center">Rent-a-book</h3>
<p>Lorum Ipsum</p>

<h3 class="col-12 text-center">Disclaimer</h3>
<p>Lorum Ipsum</p>
</div>

{% endblock %} 

