{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <!-- Favicon File -->
        <link rel="shortcut icon" type="image/jpg" href="/media/img/bookshelf1.png">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <title>My Book Your Book</title>
    </head>
    <body>
    <div class="offset-xl-2 col-xl-8 offset-xl-2 no-padding">
        <div id="header-wrap" class="container-fluid fixed-top">
            <div class="row no-padding">
                <div class="col-12 no-padding">
                    <nav class="navbar navbar-expand-lg navbar-color">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'get_products' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                </li>
                                <li class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle book-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Books
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a id="dropdown-link"class="nav-link" href="{% url 'get_products' %}">All books</a>
                                        <a id="dropdown-link"class="nav-link" href="{% url 'get_sale_products' %}">Books for sale</a>
                                        <a id="dropdown-link"class="nav-link" href="{% url 'get_rent_products' %}">Books for rent</a>
                                        <a id="dropdown-link"class="nav-link" href="{% url 'get_my_products' %}">My books</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                 {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'new_product' %}">Add a book</a>
                                </li>
                                {% if user.uprofile.have_paid == True %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'checkout' %}">Make new deposit</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'checkout' %}">Make deposit</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'registration' %}">Register</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                         {% if user.is_authenticated %}
                        <div id="hello_user">Hello {{ request.user }}
                            <a href="{% url 'view_cart' %}">
                                <i class="fas fa-shopping-cart"></i>
                                {% if total > 0 %}
                                <label class="badge badge-warning">{{ total }}</label>
                                {% endif %}
                            </a>     
                        </div>   
                        {% else %} 
                        {% endif %}
                    </nav>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col-12 no-padding">
                    <div class="row second-header">
                        <div class="col-2 col-lg-1 header-logo-wrap text-right">
                            <a href="{% url 'get_products' %}">
                                <img class="header-logo text-center" src="/media/img/bookshelf1.png">
                            </a>
                        </div>
                        <div class="col-2 col-lg-1 header-text-wrap mr-auto">
                            <p class="header-text">MyBook<br>YourBook</p>
                        </div>
                        <form action="{% url 'search' %}" method="GET" id="search-form" class="form-inline my-2 my-lg-0">
                            <input id="search-input" name="q" class="form-control mr-sm-2" type="text" placeholder="Search for books by keyword / author / title" aria-label="Search">
                            <button class="btn btn-secondary search-button my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>    
            </div>
        </div>

         
        {% if messages %}
        <div class= "col-12 text-center message">
            {% for message in messages %} 
                {{ message | safe}} 
            {% endfor %}
        </div>
        {% endif %} 
        
        <div class="container-fluid">
            <div class="row">
                <!--post entries-->
                    {% block content %}
                    {% endblock %}
                <!--post entries-->
            </div>
        </div>
        </div>
        <footer>
            <div class="row">
                <div class="col-12 text-center" id="footer-text">
                    <p>Stay connected</p>
                </div>    
            </div>
            <div class="row">
                <div class="col-12 text-center sociallinks">
                    <a href="#" target="_blank">
                        <i class="fab fa-facebook-square fa-2x padding-fa"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-instagram fa-2x padding-fa"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-youtube-square fa-2x padding-fa"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-twitter-square fa-2x padding-fa"></i>
                    </a>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.0.slim.js" integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script type="text/javascript" language="Javascript" src="{% static 'js/script.js' %}"></script>
        {% block head_js %}
        {% endblock head_js %}
        <!-- Font Awesome File -->
        <script src="https://kit.fontawesome.com/c44d99760e.js" crossorigin="anonymous"></script>
    </body>
</html>